<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}FastF1 EDA{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">FastF1 EDA</a>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/race">Race Overview</a></li>
            <li><a href="/lap">Lap Analysis</a></li>
            <li><a href="/telemetry">Telemetry</a></li>
            <li><a href="/compare">Driver Comparison</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
